version: "3.5"

services:
  nginx:
    image: nginx:alpine
    volumes:
    - "codebase:/var/www/app:ro"
    - "./docker/nginx/nginx-site.conf:/etc/nginx/conf.d/default.conf:ro"
    depends_on:
    - php
    links:
    - php
    ports:
    - 80
  php:
    build: .
    image: eu.gcr.io/mni-goingmerry/redsys-to-ofx
    volumes:
      - "codebase:/var/www/app"
volumes:
  codebase:
