{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>Redsys statement to OFX</h1>
    {% if error is not empty %}
        <div class="alert alert-danger" role="alert">
            <strong>Error: </strong> {{ error }}
        </div>
    {% endif %}
    {{ form(form) }}
</div>
{% endblock %}
